kolab-cli.debhelper.log
kolab-cli.postinst.debhelper
kolab-cli.preinst.debhelper
kolab-cli.prerm.debhelper
kolab-cli.substvars
kolabd.default
kolabd.init
kolab-saslauthd.debhelper.log
kolab-saslauthd.default
kolab-saslauthd.init
kolab-saslauthd.postinst.debhelper
kolab-saslauthd.postrm.debhelper
kolab-saslauthd.preinst.debhelper
kolab-saslauthd.prerm.debhelper
kolab-saslauthd.substvars
pykolab.debhelper.log
pykolab.postinst.debhelper
pykolab.preinst.debhelper
pykolab.prerm.debhelper
pykolab.substvars
wallace.default
wallace.init
