Source: pykolab
Section: python
Priority: optional
Maintainer: Jeroen van Meeuwen (Kolab Systems) <vanmeeuwen@kolabsys.com>
Standards-Version: 3.9.1
Build-Depends: debhelper (>= 8), intltool
Homepage: http://www.kolab.org
Vcs-Browser: http://git.kolabsys.com/apt/pykolab
Vcs-Git: git://git.kolabsys.com/git/apt/pykolab
X-Python-Version: >= 2.4

Package: pykolab
Architecture: all
Depends: python, ${misc:Depends}
Description: Kolab Groupware daemon and utilities
 Python implementation of the Kolab Groupware server

Package: kolab-cli
Architecture: all
Depends: pykolab, python, ${misc:Depends}
Description: Command-line utilities for Kolab
 This package includes command-line utilities for Kolab Groupware

Package: kolab-conf
Architecture: all
Depends: pykolab, python, ${misc:Depends}
Description: Configuration management for Kolab
 This package includes configuration management utilities for
 Kolab Groupware

Package: kolab-saslauthd
Architecture: all
Depends: pykolab, python, ${misc:Depends}
Description: SASL Authentication Daemon for Kolab
 A multi-domain capable Kolab SASL Authentication daemon.

Package: kolab-server
Architecture: all
Depends: pykolab, python, ${misc:Depends}
Description: Kolab Groupware Server
 Server daemon synchronizing the mutations between various
 Kolab Groupware components.
