Source: pykolab
Section: python
Priority:  optional
Maintainer: Jeroen van Meeuwen (Kolab Systems) <vanmeeuwen@kolabsys.com>
Build-Depends:  autotools-dev,
                debhelper (>= 7.0.50~),
                dh-autoreconf,
                gawk,
                gettext,
                intltool,
                libcroco3,
                libexpat1,
                libglib2.0-0,
                libglib2.0-dev,
                libpcre3,
                libssl1.0.0,
                libunistring0,
                libxml-parser-perl,
                libxml2,
                mime-support,
                python (>= 2.6~),
                python2.6,
                python-minimal,
                python-nose,
                python-support
Standards-Version: 3.9.3
Homepage: http://www.kolab.org
Vcs-Git: git://git.kolab.org/git/pykolab
#Vcs-Browser: http://git.debian.org/?p=collab-maint/pykolab.git;a=summary

Package: pykolab
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, python, python-ldap (>= 2.4~), python-pyasn1, python-pyasn1-modules, python-sqlalchemy
Description: Kolab Groupware daemon and utilities                                                                                          
 Python implementation of the Kolab Groupware server

Package: kolab-cli
Architecture: all
Depends: pykolab (= ${binary:Version}), python, ${misc:Depends}, python-augeas, python-cheetah
Description: Command-line utilities for Kolab
 This package includes command-line utilities for Kolab Groupware

Package: kolab-conf
Architecture: all
Depends: pykolab (= ${binary:Version}), python, ${misc:Depends}
Description: Configuration management for Kolab
 This package includes configuration management utilities for
 Kolab Groupware

Package: kolab-saslauthd
Architecture: all
Depends: pykolab (= ${binary:Version}), python, ${misc:Depends}, libsasl2-modules-ldap, sasl2-bin
Description: SASL Authentication Daemon for Kolab
 A multi-domain capable Kolab SASL Authentication daemon.

Package: kolab-server
Architecture: all
Depends: pykolab (= ${binary:Version}), python, ${misc:Depends}
Description: Kolab Groupware Server
 Server daemon synchronizing the mutations between various
 Kolab Groupware components.

Package: kolab-telemetry
Architecture: all
Depends: kolab-cli (= ${binary:Version}), python, ${misc:Depends}
Description: Kolab Telemetry Logging Capabilities
 Cyrus IMAP Telemetry logging handling capabilities for Kolab Groupware

Package: kolab-xml
Architecture: all
Depends: pykolab (= ${binary:Version}), python, python-kolabformat, ${misc:Depends}
Description: Kolab XML format wrapper for pykolab
 Kolab Format XML bindings wrapper for pykolab

Package: wallace
Architecture: all
Depends: pykolab (= ${binary:Version}), kolab-xml (= ${binary:Version}), python, ${misc:Depends}
Description: Kolab Content-Filter
 This is the Kolab Content Filter, with plugins

